doctype html
html
  head
    title Kunwar S@@ Dance academy
    block scripts
    block style
  body
    nav#navbar 
        ul 

            div#logo
              img(src="/static/bg1.png")
              |BANA
            li #[a(href="/") Home ]
            li #[a(href="/about") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class info ]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
      |Copyright © 2023 Kunwardanceacademy.com |All rights reserved   