extends base.pug
    
block scripts
    script(src='/static/index.js')

block style 
    style
        include ../static/style.css  

block content 

    section#introSection
      div Welcome to KUNWAR's dance academy 
      div.small Eat sleep dance repeat 

    section#missionSection
      h2 Our Mission
      div.container
        div.card 
          div.cut 
            h3 Dance perfection
          div.card-box
            div.card-img
              img(src="/static/bg1.png")
            div.card-content  
              h3 This is the best dance academy of the universe

        div.card 
          div.cut 
            h3 Dance as you like
          div.card-box
            div.card-img
              img(src="/static/bg2.png")
            div.card-content  
              h3 This is the best dance academy of the universe
        div.card 
          div.cut 
            h3 Expert teaching
          div.card-box
            div.card-img
              img(src="/static/bg3.png")
            div.card-content  
              h3 This is the best dance academy of the universe

    section#sponsorSection

      h2 Our Sponsors
      div.log
        div#logo1
          img(src="/static/logo1.png")
        div#logo2
          img(src="/static/logo2.png")
        div#logo3
          img(src="/static/logo3.png")
        div#logo4
          img(src="/static/logo4.png")  