@import url('<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
#navbar{
    position: sticky;
    top: 0px;
    left:0px; 
    background-color: rgb(172, 53, 53);
    padding: 13px 14px;
    /* font-family: 'Lacquer', cursive; */
    font-family: 'Oswald', sans-serif;

    font-weight: bold;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin:-6px 10px -6px 0px;
    background-color: purple;
    height:100%;
    border-radius: 145px 94px 68px 0px;
}

#logo img{
    height:40px;
    filter:invert(1);
}

#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
    text-decoration: none;
    font-size: 24px;
    padding: 13px 20px;
    color: white;
}

#navbar li a:hover{
    color: black;  
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lacquer', cursive;
    font-size: 55px;
    align-items: center;
    /* background-image: url('/static/bg.jpg'); */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7w04a5JYvmW6LW2-t2ulri0L9GVYLewbY9pjeeh1643_wE7iPDB62qhLpZlximAsZWao&usqp=CAU');
    
    /* background: center / cover no-repeat url("bg.jpg") ;  */
    height: 425px;
}
#introSection div.small{
    font-size: 30px;
    padding: 5px;
}
#missionSection{
    height: 366px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
    background-repeat: no-repeat;  /* repeat-x ,repeat-y for repeatation on x and y axes*/
    justify-content: center;
    border: 2px solid black;
}
#missionSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
} 

.container{
    display:flex;
    align-items: center;
    margin:20px 40px;
}
.cut{
    padding:10px 0px 10px 0px;
    background-color: rgb(236, 117, 117);
    margin:0px 0px 10px 0px;
    border-radius: 8px 8px 0px 0px;
}
.card{
    display: block;
    border:2px solid black;
    border-radius: 10px;
    width:30%;
    margin:21px 21px;
    padding:0px 0px 10px 0px;
    height:200px;
    text-align: center;
} 

.card-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.card-img img{
    height:100px;
}

#sponsorSection{
    /* display: flex; */
    /* flex-direction: column; */
    height: 300px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fbd6d6c7;
    background-repeat: no-repeat;  /* repeat-x ,repeat-y for repeatation on x and y axes*/
    justify-content: center;
    border: 2px solid black;
}
#sponsorSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
} 

.log{
    display: flex;
    margin:10px 0px;
    align-items: center;
    justify-content: center;
}

#logo1 img{
    height:120px;
    margin:30px;
}
#logo2 img{
    height:120px;
    margin:30px;
}
#logo3 img{
    height:120px;
    margin:30px;
}
#logo4 img{
    height:170px;
    margin:30px;
}

#footer{
    display:flex;
    /* position: sticky; */
    /* bottom: 0px; */
    height: 50px;
    background-color: black;
    color:white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
